{% extends 'base.html.twig' %}

{% block title %}Edit Affiliation{% endblock %}

{% block body %}
    <h1>Edit Affiliation</h1>

    {{ include('affiliation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_affiliation_index') }}">back to list</a>

    {{ include('affiliation/_delete_form.html.twig') }}
{% endblock %}
