<form method="post" style="display:inline;" action="{{ path('app_ligue_delete', {'id': ligue.id}) }}" onsubmit="return confirm('Etes-vous sûr de bien vouloir supprimer cette ligue ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligue.id) }}">
    <button type="submit" class="btn btn-outline-danger" title="Supprimer ?"><i data-feather="trash"></i></button>
</form>
